.container {
    background: url('../images/football-pitch.svg');
    width:100%;
    height:100%;
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /* background-repeat: round; */
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background: #ff66;
    box-sizing: border-box;
    padding: 10px;
}
header .icon {
    width: 10vmin;
    height: 10vmin;
}

header .title {
    margin-left: 20px;
}


.content-container {
    display: flex;
    flex:1;
    flex-direction: row;
}

.football-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;
    align-items: center;
    justify-content: center; 
}

.player-container {
    /* flex-grow: 1; */
    flex-shrink: 0;
}

.football-container embed{
    width: 80%;
}

.info-container{
    
    min-width: 25vw;
    height: 45vh;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background: #888a;
    box-sizing: border-box;
}


.info-container .info {
    display: none;
}

.info-container .info h2{
    text-overflow: ellipsis;
    white-space:nowrap;
}

.info-container.links {
    height: 30vh;
    background: #f006;
    color: #00FF00;
}

#data-driven {
    color: #b63137;
}

#rate-rank {
    color: #145403;
}

#winning {
    color: #f8bf11;
}

#tech {
    color:white
}

.info-list li{
    list-style-type:none;
    line-height:1.5rem;
    /* color:#ADFF2F; */
    text-overflow: ellipsis;
    white-space:nowrap;
}

a {
    color: #00FF00
}